.root {
/* font family setting for the tool */
   -fx-font-family: Arial, sans-serif, Helvetica;

/* normal background */
   -fx-tv-background: white;

/* normal text */
   -fx-tv-text-light: white;
   -fx-tv-text-dark: rgb(50, 50, 50);

/* color for main framework */
   -fx-tv-main-color: rgba(77, 102, 204, 1);

/* color for tree selected */
   -fx-tv-tree-selected-color: rgba(82, 100, 174, 0.4);

/* color for drag drop */
   -fx-tv-tree-drag-area-color: red;

/* color for tree leaf node */
   -fx-tv-leaf-name-color: -fx-tv-main-color;
   -fx-tv-leaf-value-color: rgba(102.0, 153.0, 102.0, 1);

/* color for tree view path */
   -fx-tv-path-color: dimGray;

/* color for confirmation dialog high light part*/
   -fx-confirm-dialog-highlight: red;

/* color for button hover light color */
   -fx-button-hover-light: rgb(240, 255, 240);

/* status bar */
   -fx-sb-background: -fx-tv-text-dark;
   -fx-sb-text: -fx-tv-text-light;
   -fx-sb-background-success: rgb(67,160,71);
   -fx-sb-background-info: rgb(25,118,210);
   -fx-sb-background-warn: rgb(255,160,0);
   -fx-sb-background-error: rgb(211,47,47);
   -fx-sb-text-action: -fx-tv-text-light;
   -fx-sb-text-action-hover: -fx-tv-text-light;
}